.map__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 60px);
  max-height: -webkit-fill-available;
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 60px);
  max-height: -webkit-fill-available;
  overflow: hidden;
}

.leaflet-touch .leaflet-bar {
  border: none;
}

.leaflet-touch .leaflet-bar a,
.geosearch.leaflet-control-geosearch a.leaflet-bar-part:before,
.geosearch.leaflet-control-geosearch a.leaflet-bar-part:after {
  color: #0a3576;
  border-color: #0a3576;
}

.leaflet-geosearch-button form.open input {
  box-shadow: none;
}

.container-fluid.popup__container {
  padding: 0;
}

/* leaflet marker clustering */
div.marker-cluster-small {
  background-color: rgba(154, 171, 229, 0.6);
}

div.marker-cluster-small div {
  background-color: #5472d3;
}

div.marker-cluster-medium {
  background-color: rgba(66, 136, 240, 0.6);
}

div.marker-cluster-medium div {
  background-color: #0d47a1;
}

div.marker-cluster-large {
  background-color: rgb(26, 94, 255, 0.5)
}

div.marker-cluster-large div {
  background-color: #002171;
}

.marker-cluster span {
  color: #fff;
}

.btn-wrapper {
  border: none;
  border-radius: 4px;
  background-color: #fff;

  & .material-icons {
    padding: 3px;
  }
}