.nav__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1045;
  box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
}

.navbar-light .navbar-toggler,
.btn-close:hover {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
}

.h5,
.nav-link,
.navbar-light .navbar-nav .nav-link {
  color: var(--bs-primary);
}

.offcanvas-header,
.offcanvas-body {
  padding: 1rem 2rem;
}
.h5{
  font-size: 26px;
}

.nav-link{
  padding: .8rem 1rem;
  font-size: 22px;
}