.nav__container {
  // height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-light .navbar-toggler,
.btn-close:hover {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
}