@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

:root {
  --bs-primary: #0d47a1;
  --bs-secondary: #5472d3;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
}

button {
  border: none;
  box-shadow: none;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);

  &:hover,
  &:focus {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
}

span.bg-primary{ 
  background-color: var(--bs-primary) !important;
}

.image__fluid {
  display: block;
  width: 100%;
}

.image__fixed-width-1 {
  width: 30px;
  height: 28px;
}

.image__fixed-width-2 {
  width: 35px;
  height: 28px;
}

.image__text {
  margin: 0;
  font-size: 26px;
}

.image__lg {
  border-radius: 10px;
  object-fit: cover;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}